.card-content {
    width: 1200px
  }

  button {
    float: bottom;
    position: relative;
    top: 40px
    /* padding:  */
  }
  
  .input-field {
    float: bottom;
    position: relative;
    top: 30px
  }
  
  .page-name
  {
      float: bottom;
      position: relative;
      top: 15px
  }

  span
  {
    position: relative;
    top: 15px;
  }