<div class="page-title">
  <div class="row">
    <div class="col s12 m2">
      <div class="page-name">
        <h4 routerLink="/categories">Позиції</h4>
      </div>
    </div>
    <div class="col s12 m8">
      <div class="nav-wrapper">
        <div class="input-field">
          <input id="search" type="search" #search>
          <label class="label-icon" for="search">
            <i class="material-icons" (click)="ngOnInit()">
              search
            </i>
          </label>
          <i class="material-icons" (click)="inputSearchClear()">close</i>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <button class="btn grey darken-1">Додати позицію</button>
    </div>
  </div>
</div>




<div class="card-content">
  <div class="collection">
    <a *ngFor="let position of positions" class="collection-item">
      <div class="row">
        <div class="col s12 m11">
          <span>
            {{position.name}} <strong>{{position.cost}} грн.</strong>
          </span>
        </div>
        <div class="col s12 m1">
          <span>
            <i class="material-icons" (click)="onDeletePosition(position)">delete</i>
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
