<!-- <div class="page-title">
  <div class="row">
    <div class="col s12 m8">
      <div class="page-name">
        <h4>Користувачі</h4>
      </div>
    </div>
    <div class="col s12 m4">
      <button class="btn grey darken-1">Зареєструвати користувача</button>
    </div>
  </div>
</div> -->

<!-- 
<div class="page-content">
  <div class="row" #tabs>
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4 active" *ngFor="let role of roles" >
          <a (click)="changeTab(role)"  > {{role.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->

<!-- <div class="row page-content">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a>Test 1</a></li>
      <li class="tab col s3"><a class="active">Test 2</a></li>
      <li class="tab col s3 disabled"><a>Disabled Tab</a></li>
      <li class="tab col s3"><a>Test 4</a></li>
    </ul>
  </div>
</div> -->

<!-- <app-users-page
[role]="this.role"
>
</app-users-page> -->
