<!-- <div class="row">
    <div class="col s12 m7"> -->
<div class="card">
  <div class="card-image">
    <img src="https://www.freevector.com/uploads/vector/preview/12347/FreeVector-Online-Restaurant.jpg">
    <span class="card-title">Онлайн-ресторан</span>
  </div>
  <div class="card-content">
    <p>
      Скористайтеся web-додатком для більш зручної взаємодії персоналу ресторанів з їх клієнтами.
      Перейшовши по гіперпосиланню отримайте змогу скористатися функціоналом нашого телеграм-бота 
      <span  class="material-icons">arrow_downward</span>
    </p>
  </div>
  <div class="card-action ">
    <a href="https://t.me/online_restraunt_menu_bot">Перейти до бота</a>
  </div>
</div>
<!-- </div>
  </div> -->
