<div>

  <div class="page-title">
    <h4>Категорії</h4>
  </div>

  <button class="btn grey darken-1">Додати категорію</button>
  
</div>

<div class="card-content">

  <div class="collection">
    <a href="#!" class="collection-item">Категория 1</a>
    <a href="#!" class="collection-item">Категория 1</a>
    <a href="#!" class="collection-item">Категория 1</a>
    <a href="#!" class="collection-item">Категория 1</a>
    <a href="#!" class="collection-item">Категория 1</a>
    <a href="#!" class="collection-item active">Категория 2</a>
    <a href="#!" class="collection-item">Категория 1</a>
    <a href="#!" class="collection-item">Категория 1</a>
  </div>
</div>
