.auth-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .auth-block .card {
    width: 400px
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }

  .modal {
    width: 400px;
    padding: 1%
  }
